@model Blog.Models.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Innlegg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kommenarer for innlegget "@Model.Title"</h1>
<hr />
<p>
    @*Created: @Model.Created,*@
    @if (@Model.Owner == null)
    {<a> Bruker er ikke registrert</a> }
    else
    {<a> Eier av innlegg: @Model.Owner.UserName</a>}
</p>

<!--h5>Test om jeg får tak i eier etter 'create comment' via ViewBag: @*ViewBag.Message*@</h5-->


<div>

    <table class="table table-hover">
        <tr>
            <th>Eier</th>
            <th>Kommentar</th>
            <th>Opprettet</th>
            <th>Valg</th>
        </tr>


        @try
        {
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "EditComment", "Comment", new { CommentId = item.CommentId }) |

                        @Html.ActionLink("Delete", "DeleteComment", "Comment", new { CommentId = item.CommentId })
                    </td>
                </tr>
            }
        }
        catch (NullReferenceException e)
        {
            Console.WriteLine(e.ToString());
        }


    </table>
    <p>@Html.ActionLink("Opprett ny kommentar", "CreateComment", "Comment", new { PostId = @Model.PostId, id = @Model.PostId })</p>


</div>



<div>

    <a asp-controller="Blog" asp-action="Index">&#8592 Tilbake til alle blogger<br></a>
    <!--a asp-controller="Blog" asp-route-id=Model.BlogId asp-action="ReadBlog">&#8592 Tilbake til innlegg<br></a--> <!--Must study WebApi before this is possible-->
    <p>&#8592 @Html.ActionLink("Tilbake til innlegg", "ReadBlog", "Blog", new { id = Model.BlogId })</p>
</div>


@{
    ViewBag.Title2 = "Testing JQuery and Ajax with WebApi";
}

<h2>@ViewBag.Title2</h2>
<hr />


@section scripts{
    <script>

        setInterval("Update()", 10000);

        //-------------------------View all comments-----------------------------------------------//
        function showAll() {
            listComments(function(comments) {

                var strComments = "";
                $.each(comments,
                    function(index, comment) {
                        strComments += `<tr><td>${comment.commentId} ${comment.text}</td></tr>`;
                    });
                $("#comments").html(strComments);

            });


            function listComments(callback) {
                $.ajax({
                    url: "/Api/CommentsWebApi/",
                    data: {},
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                }).then(function(comments) {
                    callback(comments);
                });
            }
        }

        //---------------------------View all comments on post-------------------------------------//
        function get(id) {

            listCommentOnPost(function(products) {

                var strProducts = "";
                $.each(products,
                    function(index, comment) {
                        strProducts += `<tr><td>${comment.commentId} ${comment.text}</td></tr>`;
                    });
                $("#commentsOnPost").html(strProducts);

            });

            function listCommentOnPost(callback) {
                $.ajax({
                    url: "/Api/CommentsWebApi/" + id,
                    data: {},
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                }).then(function(comments) {
                    callback(comments);
                });
            }

        }

        //-----------------------add a comment to the post-------------------------------------//

        function add() {

            var innhold = document.getElementById('add').value;

            var comment = {
                "text": innhold,
                "postId": 1
            };

            $.ajax(
                {
                    type: "POST",
                    url: "/Api/CommentsWebApi/",
                    data: JSON.stringify(comment),
                    contentType: "application/json;charset=utf-8",
                    dataType: 'json',
                    success: function(result) {
                        $("#update").html("<p>POST ferdig ok ..." + "</p>");
                    },
                    error: function(req, status, error) {
                        $("#update").html("AJAX error");
                    }
                });
        }

        $(document).ready(function() {

            $("#commentsOnPost").html("<p>Venter på data fra innlegg..." + "</p>");
            //$("#comments").html("<p>Venter på data fra server" + "</p>");

            //showAll(); //viser absolutt alle kommentarer, uavhengig av hvilken post/innlegg de tilhører
            get(@TempData["chosenId"]);
            //add();
        });

    </script>
}

<div>Kommentarer på innlegg via WebApi: </div>
<div id="commentsOnPost"></div>

<hr />
<div class="row">
    <div class="col-md-4">
        <!--form action="javascript:void(0);" method="POST" onsubmit="add()"-->
        <!--input asp-for="PostId" type="hidden" class="form-control" />
    <span asp-validation-for="PostId" class="text-danger"></span-->
        <input type="text" id="add" placeholder="legg inn Ny kommentar...">
        <!--textarea type="text" id="add" rows="4" cols="50" placeholder="legg inn ny kommentar..."></!--textarea>-->
        <input type="submit" value="Legg til" onclick="add()">
        <!--</!--form>-->
    </div>
</div>

<!--
<table class="table">
    <thead>
    <tr>
        <th>
            ID Kommentarer på alle poster
        </th>
    </tr>
    </thead>
    <tbody id="comments"></tbody>
</table>

-->
<!--<div id="update"></div>-->