@using Microsoft.AspNetCore.Identity
@using Blog.Models.Entities
@using Blog.Models.ViewModels
@model Blog.Models.ViewModels.IndexViewModel


@{
    ViewData["Title"] = "Index";
}

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<h1>Oversikt over blogger</h1>

<p>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Opprett ny blogg</a>
    }
    else
    {
        <a>Du er ikke logget inn, logg inn for å opprette en Blogg</a>
    }
    
    @*if(Model.Blogs is not null)
    {
        <h5 class="text-info">
            Abonnementer: @Model.Blogs.Count()......
            Siste aktivitet: @Model.Posts.First().Created.DayOfWeek......

        </h5>
    }
    @if(Model.Comments is not null)
    {

        <h5 class="text-info">
            Antall kommentarer: @Model.Comments.Count()
            Siste Aktivitet : @Model.Comments.First().Created.DayOfWeek
        </h5>
    }*@


</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            Eier
        </th>
        <th>
            Navn
        </th>
        <th>
            Stengt
        </th>
        <th>
            Opprettet
        </th>
        <th>
            Endret
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Blogs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedForPosts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>

            <td>
                @Html.ActionLink("Read", "ReadBlog", new { id = item.BlogId })
            </td>
            <td>
                @Html.ActionLink("Subscribe", "SubscribeToBlog", "Blog", new { id = item.BlogId })
            </td>
            <td> @Html.ActionLink("Unsubscribe", "UnSubscribeToBlog", "Blog", new { id = item.BlogId })</td>
        </tr>
    }
    </tbody>
</table>
<hr />
<h4>Siste aktiviteter på innlegg:</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Eier</th>
        <th>Opprettet</th>
        <th>Modifisert</th>
        <th>Blogg</th>
        <th>Innhold</th>
        <th>Valg</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model.Posts)
    {
        <tr>
            @if (post.Owner != null)
            {
                <td>@Html.DisplayFor(modelItem => post.Owner.UserName)</td>
            }
            else
            {
                <td>No user</td>
            }
            <td>
                @Html.DisplayFor(modelItem => post.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Content)
            </td>

            <td>
                @Html.ActionLink("Read post", "ReadPost", "Post", new { PostId = post.PostId })
            </td>
        </tr>
    }
    </tbody>
</table>
