@model Blog.Models.ViewModels.BloggViewModel

@{
    ViewData["Title"] = "ReadBlog";
}

<h1>Innlegg for blogg "@Model.Name"</h1>
<hr />
<p>
    @*Created: @Model.Created,*@
    @if (@Model.Owner == null)
        {<a> Bruker er ikke registrert</a> }
    else
        {<a> Bloggen er opprettet av: @Model.Owner.UserName</a> }
</p>


<table class="table table-hover">
    <tr>
        <!--th>Eier </th-->
        <th>Tittel</th>
        <th>Opprettet</th>
        <th>Innhold</th>
        <th>Valg</th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @*Html.DisplayFor(modelItem => item.Owner.UserName)*@
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("Read comments", "ReadPost", "Post", new { id = item.PostId }) |

                @Html.ActionLink("Edit", "EditPost", "Post" ,new { id = item.PostId }) |

                @Html.ActionLink("Delete", "DeletePost", "Post", new { id = item.PostId })
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Opprett nytt innlegg", "CreatePost", "Post", new { blogId = @Model.BlogId })</p>
<div>
    <a asp-action="Index">&#8592 Tilbake til alle blogger</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
