@model Blog.Models.ViewModels.BloggViewModel

@{
    ViewData["Title"] = "ReadBlog";
}

<h1>Innlegg</h1>
<br />

@*<p>

            Created: @Model.Created, Modified: @Model.Modified,
            @if (@Model.Owner.UserName == null)
            {<a>No user</a>
            }
            else
            {@Model.Owner.UserName
            }
    </p>   *@


<table class="table table-hover">
    <tr>
        <th>Eier </th>
        <th>Tittel</th>
        <th>Innhold</th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("Read comments", "ReadPost", new { id = item.PostId }) |

                @Html.ActionLink("Edit", "EditPost", new { id = item.PostId }) |

                @Html.ActionLink("Delete", "DeletePost", new { id = item.PostId })
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Opprett nytt innlegg", "CreatePost", new { blogId = @Model.BlogId })</p>
<div>
    <a asp-action="Index">&#8592 Tilbake til alle blogger</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
